<header>
  <!-- {{ strings.Repeat ( .Site.Title | len | add 6 ) "=" }}<br> -->
  <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a><br>
  <!-- {{ strings.Repeat ( .Site.Title | len | add 6 ) "=" }} -->
  <p>
    <nav>
      {{ with .Site.Menus.main }}
      {{ range . }}
      <a href="{{ .URL }}">{{ .Name }}</a>.
      {{ end }}
    </nav>
  </p>
  {{ end }}
</header>
